* {
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

header h2 {
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 0;
}

header h2:hover {
    background-color: white;
    color: blue;
    transition: 1.5s;
}

form {
    padding-top: 25px;
    text-align: center;
}

form div {
    padding-bottom: 90px;
}

#cantidadKwh {
    width: 100px;
}

footer {
    text-align: center;
    background-color: blue;
    padding: 40px;
    border-radius: 25px;
    color: white;
    margin-top: auto;
    margin-bottom: 0;
}

footer:hover {
    background-color: white;
    color: blue;
    transition: 1.5s;
}

div h2 {
    margin-top: 50px;
}

@media (max-width: 780px) {
    header {
        margin: 0 25% 0 25%;
    }
}

@media (max-width: 400px) {
    header h2{
        min-width: max-content;
        margin: 0 0 0 0;
    }
}